<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <style>
      body {
          background-color: lightgrey;
      }

      h1 {
        color: purple;
        text-align:center
      }

      h2 {
        color: black;
        text-align:center
      }

      div {
          color: rgb(101, 96, 102);
          text-align: center
      }

  </style>
  <body>
      <h1>Raspi Eats Stuff</h1>
      <h2>Rules to play</h2>
      <div>Hello and Welcome to Raspi Eats below
          you will find the rules to play this fun little game!</di>

      <ol>
          <li>Two dots will show up, try to get the white to the red dot</li>
          
          <li>Use Joystick to move around</li>

          <li>The goal is to eat the red dot and as soon as soon as 
              you do the game well end!
          </li>
          <button> <a href='/game'>Play</a></a></button>
      </ol>

  </body>
</html>